<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>profile</title>
  <link rel="stylesheet" href="">
</head>
<body>
 <%for(var i = 0; i < user.local.assesments.length; i++){%>
    <%= user.local.assesments[i].name %>
  <%}%>
<h1>regular profile</h1>
   <strong>id</strong>: <%= user._id %><br>
   <strong>email</strong>: <%= user.local.email %><br>
   <strong>password</strong>: <%= user.local.password %>
   <strong>Admin</strong>: <%= user.local.this_database_admin %>
</body>
</html>
